<style>
  .example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
</style>

<mat-toolbar color="primary">
  <span>Blog App</span>
  <span class="example-spacer"></span>
  <app-user-avatar *ngIf="auth.state.value" ></app-user-avatar>
  <button *ngIf="auth.state.value && auth.auth.user?.is_admin" mat-icon-button>
    <mat-icon>dashboard</mat-icon>
  </button>
  <button *ngIf="auth.state.value" mat-icon-button (click)="auth.logout()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
<router-outlet *ngIf="auth.state.value"></router-outlet>
<app-authentication *ngIf="!auth.state.value"></app-authentication>